* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 10% !important;
  margin: auto !important;
  text-align: center !important;
}

.dropdown-2 {
  margin-top: 5% !important;
}

.btn-wrapper {
  text-align: center;
  margin-top: 35%;
}
